@font-face {
    font-family: "Lato-600";
    src: url("../../fonts/Lato-Bold.ttf");
}

.score__inner {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.score__rating {
    font-family: 'Lato-600', sans-serif;
    font-size: 10rem;
    margin: 0;
    padding: 0;
}

.score__result-message {
    font-size: 1.6rem;
    font-style: italic;
}

.bad {
    color: #ff0000;
}

.awesome {
    color: #00ff00;
}

.good {
    color: rgb(0, 174, 255)
}