@font-face {
  font-family: "montserrat-400";
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "montserrat-500";
  src: url("../../fonts/Montserrat-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto.ttf");
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 30px;
}

.btn_std {
  font-family: "Montserrat-400", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  background-color: #40e0d0;
}

.btn_finish {
  font-family: "montserrat-500";
  margin: 20px auto;
  color: #fff;
  background-color: #33b3a6;
  font-size: 1.2rem;
}

.btn_abort {
  font-family: "roboto";
  font-weight: 600;
  color: #fff;
  background-color: #ff0000;
  font-size: 1rem;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.btn_show-answers {
  background-color: #3d6ed6;
  color: #fff;
  font-size: 1.2rem;
}

.inactive {
  background-color: rgb(219, 218, 218);
  cursor: default;
}