.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.std_btn {
  padding: 15px;
  margin: 20px auto;
  font-family: "roboto";
  border-radius: 10px;
  border: 1px solid #cbcbcb
}

.finish_btn {
  border: 2px solid #000;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: "montserrat-medium";
  font-size: 1rem;
  margin: 20px auto;
}
