.answers {
    margin-top: 50px;
}

.answers__header {
    text-align: center;
}

.answers__inner {
    margin: 40px 0;
}

.answer {
    margin-bottom: 20px;
}

.answer:last-child {
    margin-bottom: 0;
}

.answer__question {
    font-style: italic;
}

.answer_user-answer {
    margin-top: 3px;
}

.answer_correct-answer {
    
}