@font-face {
  font-family: "roboto";
  src: url("../../fonts/roboto.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../../fonts/Montserrat-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("../../fonts/Montserrat-Regular.ttf") format("ttf");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  align-items: center;

}

.app__header {
  text-align: center;
  color: #000;
  font-size: 4rem;
  font-family: "roboto", serif;
  margin-top: 50px;
}

.app__quiz-body {
  margin: 70px 0;
}

.app__score {
  color: #000;
  font-family: "montserrat-medium";
  font-size: 1.5rem;
  border: 1px solid #000;
  text-align: center;
}

.app__buttons {
  display: flex;
  flex-direction: column;
}
