@font-face {
  font-family: "Montserrat-400";
  src: url("../../fonts/Montserrat-Regular.ttf");
}

* {
  font-family: "Montserrat-400", sans-serif;
}

.quiz__body {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  @media (max-width: 600px), (max-height: 720px) {
    margin: 10px 0;
  }
}

.quiz__score {
  color: #000;
  font-family: "montserrat-medium";
  font-size: 1.5rem;
  text-align: center;
  @media (max-height: 720px) {
    display: none;
  }
}

.button-inner {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
}
