@font-face {
  font-family: "Surfer-400";
  src: url("../../fonts/OriginalSurfer-Regular.ttf");
}
.header {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #00afce;
  @media (max-width: 600px), (max-height: 720px) {
    padding: 10px;
  }
}

.header__title {
  font-family: "Surfer-400", sans-serif;
  color: #fff;
  letter-spacing: 20px;
  user-select: none;
  @media (max-width: 600px), (max-height: 720px) {
    font-size: 1.7rem;
  }
}
